@keyframes BUTTON-ANIMATION {
  0% {
    background: rgba(244, 146, 147, 0.5);
  }
  50% {
    background: rgba(235, 101, 72, 0.6);
  }
  100% {
    background: rgba(83, 195, 197, 0.7);
    color: #fff;
    display: block;
  }
}
@keyframes NAME-ANIMATION {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 25%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}
html main {
  width: 100%;
  margin: 0 auto;
}
.main-nav {
  font-size: 2.3rem;
  position: fixed;
  display: flex;
  overflow: hidden;
  width: 100%;
  background-color: #F49293;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 1;
  opacity: 0.8;
  justify-content: center;
}
@media (max-width: 800px) {
  .main-nav {
    font-size: 1.8rem;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .main-nav {
    display: none;
  }
}
.main-nav .text {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media (max-width: 800px) {
  .main-nav .text {
    width: 80%;
  }
}
.main-nav a {
  text-decoration: none;
  color: white;
  text-align: center;
  width: 35%;
}
.main-nav a i.fas {
  padding-right: 5%;
}
.nav-container {
  position: absolute;
  display: none;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 500px) {
  .nav-container {
    display: flex;
  }
}
.nav-container .nav-content {
  width: 100%;
  height: 100%;
}
.nav-container nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: 50px;
}
.nav-container #menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  right: 25px;
  z-index: 1;
  user-select: none;
}
.nav-container #menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  opacity: 0;
  z-index: 2;
}
.nav-container #menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.nav-container #menuToggle span:first-child {
  transform-origin: 0% 0%;
}
.nav-container #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.nav-container #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: rgba(235, 101, 72, 0.6);
}
.nav-container #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.nav-container #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.nav-container #menu {
  position: absolute;
  width: 200px;
  box-shadow: 0 0 16px rgba(244, 146, 147, 0.5);
  margin: -16px 0 0 -205px;
  padding: 20px;
  padding-top: 100px;
  background-color: white;
  transform-origin: 0% 0%;
  transform: translate(0, -110%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.nav-container #menu li {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #f49293;
  transition-delay: 2s;
}
.nav-container #menu li a {
  text-decoration: none;
  color: #666;
}
.nav-container #menuToggle input:checked ~ ul {
  transform: none;
}
.footer {
  position: absolute;
  margin-top: 28vw;
  width: 100%;
}
@media (max-width: 800px) {
  .footer {
    margin-top: 26vw;
  }
}
@media (max-width: 500px) {
  .footer {
    margin-top: 24vw;
  }
}
.footer .social-icons {
  font-size: 5rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 35px;
}
@media (max-width: 800px) {
  .footer .social-icons {
    font-size: 4rem;
    padding-bottom: 3px;
  }
}
@media (max-width: 500px) {
  .footer .social-icons {
    font-size: 2.3rem;
    padding-bottom: 3px;
  }
}
.footer .social-icons a {
  text-align: center;
  cursor: help;
}
.footer .social-icons .twitter {
  color: white;
}
.footer .social-icons .facebook {
  color: white;
}
.footer .social-icons .github {
  color: white;
}
.footer .copywrite {
  font-size: 3rem;
  text-align: center;
  line-height: 5rem;
}
@media (max-width: 800px) {
  .footer .copywrite {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
@media (max-width: 500px) {
  .footer .copywrite {
    font-size: 1.4rem;
    line-height: 2.3rem;
  }
}
.footer .copywrite p {
  color: white;
}
.footer .copywrite a {
  color: #262D35;
  text-decoration: none;
}
.home {
  width: 100%;
}
.home h1 {
  text-align: center;
  font-size: 5.5rem;
  color: #fff;
  position: absolute;
  width: 100%;
  top: 15vw;
}
@media (max-width: 800px) {
  .home h1 {
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .home h1 {
    top: 7vh;
    font-size: 2.5rem;
  }
}
.home img {
  width: 100%;
}
.content {
  display: inline-table;
  flex-direction: column;
  padding-left: 20%;
  padding-top: 3%;
}
@media (max-width: 800px) {
  .content {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 500px) {
  .content {
    padding-left: 0%;
    padding-right: 0%;
  }
}
.content .logo {
  padding-left: 5%;
  width: 65%;
}
@media (max-width: 800px) {
  .content .logo {
    text-align: center;
    padding-left: 16%;
    padding-bottom: 20px;
  }
}
.content .logo .logo-img {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}
@media (max-width: 500px) {
  .content .logo .logo-img {
    padding-left: 0%;
    width: 70%;
    padding-bottom: 30px;
  }
}
.content img {
  width: 37%;
}
@media (max-width: 800px) {
  .content img {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .content img {
    width: 75%;
  }
}
.content .description1 {
  display: flex;
}
@media (max-width: 500px) {
  .content .description1 {
    flex-direction: column;
    align-items: center;
  }
}
.content .description1 .text {
  width: 34%;
  padding-left: 2%;
}
@media (max-width: 800px) {
  .content .description1 .text {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .content .description1 .text {
    width: 72%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.content .description1 .text h2 {
  font-size: 3rem;
  padding-bottom: 15px;
}
@media (max-width: 800px) {
  .content .description1 .text h2 {
    font-size: 2.1rem;
  }
}
.content .description1 .text p {
  font-size: 1.5rem;
  line-height: 2.2rem;
}
@media (max-width: 800px) {
  .content .description1 .text p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.content .description2 {
  display: flex;
}
@media (max-width: 500px) {
  .content .description2 {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.content .description2 .text {
  width: 34%;
  padding-right: 3%;
  padding-top: 3%;
}
@media (max-width: 800px) {
  .content .description2 .text {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .content .description2 .text {
    width: 72%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.content .description2 .text h2 {
  font-size: 3em;
  padding-bottom: 15px;
}
@media (max-width: 800px) {
  .content .description2 .text h2 {
    font-size: 2.1rem;
  }
}
.content .description2 .text p {
  font-size: 1.5em;
  line-height: 2.2rem;
}
@media (max-width: 800px) {
  .content .description2 .text p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.content .description3 {
  display: flex;
}
@media (max-width: 500px) {
  .content .description3 {
    flex-direction: column;
    align-items: center;
  }
}
.content .description3 .text {
  width: 34%;
  padding-left: 2%;
  padding-top: 2%;
}
@media (max-width: 800px) {
  .content .description3 .text {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .content .description3 .text {
    width: 72%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.content .description3 .text h2 {
  font-size: 3em;
  padding-bottom: 15px;
}
@media (max-width: 800px) {
  .content .description3 .text h2 {
    font-size: 2.1rem;
  }
}
.content .description3 .text p {
  font-size: 1.5em;
  line-height: 2.2rem;
}
@media (max-width: 800px) {
  .content .description3 .text p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.bottom {
  width: 100%;
  position: absolute;
}
.bottom img {
  width: 100%;
}
.about {
  width: 100%;
}
.about h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  position: absolute;
  width: 100%;
  top: 15vw;
}
@media (max-width: 500px) {
  .about h1 {
    top: 7vh;
    font-size: 2rem;
  }
}
.about img {
  width: 100%;
}
.profiles {
  padding: 1rem;
}
.profiles .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  .profiles .row {
    flex-direction: column;
  }
}
.profiles .row .image-container {
  position: relative;
  display: inline-block;
  width: calc(23vw);
  height: calc(23vw);
  margin: 30px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 25px rgba(46, 61, 73, 0.5);
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 50%;
  transition: all 1s ease-in;
}
@media (max-width: 500px) {
  .profiles .row .image-container {
    width: calc(50vw);
    height: calc(50vw);
  }
}
.profiles .row .image-container:hover {
  box-shadow: 5px 5px 25px #53c3c5;
}
.profiles .row .image-container .over-flower {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}
.profiles .row .image-container .over-flower #robert {
  background: url(../img/Robert-circle.png) no-repeat center;
  background-size: cover;
}
.profiles .row .image-container .over-flower #jesse {
  background: url(../img/Jesse-circle.png) no-repeat center;
  background-size: cover;
}
.profiles .row .image-container .over-flower #derrick {
  background: url(../img/Derrick-circle.png) no-repeat center;
  background-size: cover;
}
.profiles .row .image-container .over-flower #travis {
  background: url(../img/Travis-circle.png) no-repeat center;
  background-size: cover;
}
.profiles .row .image-container .over-flower #danielle {
  background: url(../img/danielle-circle.png) no-repeat center;
  background-size: cover;
}
.profiles .row .image-container .over-flower .bot {
  position: absolute;
  max-width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.profiles .row .image-container .over-flower .overlay {
  font-size: 2rem;
  z-index: 100;
}
@media (max-width: 500px) {
  .profiles .row .image-container .over-flower .overlay {
    font-size: calc(30px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
}
.profiles .row .image-container .over-flower .overlay .name,
.profiles .row .image-container .over-flower .overlay .fab,
.profiles .row .image-container .over-flower .overlay p {
  text-decoration: none;
  display: none;
  text-align: center;
  margin-top: 0;
  margin: 0 auto;
  color: #fff;
}
.profiles .row .image-container .over-flower .overlay p {
  padding: 1.5vw 0;
  font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
@media (max-width: 500px) {
  .profiles .row .image-container .over-flower .overlay p {
    padding: 1rem 0;
    font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
}
.profiles .row .image-container .over-flower .overlay:hover {
  background-color: rgba(83, 195, 197, 0.75);
  animation: BUTTON-ANIMATION 4s ease-in;
  display: block;
}
.profiles .row .image-container .over-flower .overlay:hover .name {
  display: block;
  animation: NAME-ANIMATION 1s ease-in;
  margin-top: 25%;
}
.profiles .row .image-container .over-flower .overlay:hover p {
  display: block;
}
.profiles .row .image-container .over-flower .overlay:hover .fab {
  display: block;
}
.profiles .row .image-container .over-flower .fab {
  max-width: 25%;
  transition: all 1s ease-in;
}
.profiles .row .image-container .over-flower .fab:hover {
  color: #f49293;
  transform: scale(1.5) rotateY(180deg);
}
.bottom-image {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.contact {
  background: #53c3c5;
  margin-top: 35vw;
  width: 100%;
}
.contact h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  .contact h1 {
    font-size: 1.5rem;
  }
}
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}
.contact form ::placeholder {
  color: #fff;
  letter-spacing: 0.25em;
}
.contact form .fieldset {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact form .fieldset input {
  width: calc(50% - 1.666rem);
  background: rgba(83, 195, 197, 0.75);
  border: 1.5px solid #fff;
  line-height: 1.5rem;
  padding: 0.5rem;
  border-radius: 4px;
}
.contact form .fieldset input:focus {
  color: #666;
  background: rgba(194, 247, 248, 0.75);
}
@media (max-width: 500px) {
  .contact form .fieldset input {
    padding: 0.333rem;
    line-height: 1rem;
    border: 1px solid #fff;
  }
}
.contact form textarea {
  border-radius: 4px;
  width: calc(100% - 1.125rem);
  background: #53c3c5;
  color: #fff;
  line-height: 1.5rem;
  border: 1.5px solid #fff;
  margin-top: 1rem;
  height: 40vh;
  padding: 0.5rem;
}
.contact form textarea:focus {
  color: #666;
  background: rgba(194, 247, 248, 0.75);
}
@media (max-width: 500px) {
  .contact form textarea {
    height: 30vh;
    padding: 0.333rem;
    line-height: 1rem;
    border: 1px solid #fff;
  }
}
.contact form button {
  margin-top: 1rem;
  width: 47%;
  background: rgba(83, 195, 197, 0.65);
  color: #fff;
  line-height: 1.5rem;
  border: 1.5px solid #fff;
  border-radius: 4px;
  padding: 0.5rem;
  letter-spacing: 0.25em;
  transition: all 0.35s ease-in-out;
}
@media (max-width: 500px) {
  .contact form button {
    padding: 0.333rem;
    line-height: 1rem;
    border: 1px solid #fff;
  }
}
.contact form button:hover {
  background: #fff;
  color: #3c9697;
}
