

    .about{
       width: 100%;
       h1{
          text-align: center;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 2.5rem;
          color: #fff;
          position: absolute;
          width: 100%;
          top: 15vw;
          @media @mobile {
            top: 7vh;
            font-size: 2rem;
          }
       }
       img{
           width: 100%;
       }
    }

    

    .profiles{
        padding: 1rem;

        .row{
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          @media @mobile {
            flex-direction: column;
          }

        ///image
        .image-container {
          // border: 1px solid red;
          position: relative;
          display: inline-block;
          width: calc(23vw);
          height: calc(23vw);
          @media @mobile {
            width: calc(50vw);
            height: calc(50vw);
          }
          margin: 30px;
          background: #fff;
          border-radius: 5px;
          box-shadow: 5px 5px 25px rgba(46, 61, 73, 0.5);
          transition: all 0.3s ease;
          cursor: pointer;
          overflow: hidden;
          border-radius: 50%;
          
          .over-flower {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            overflow: hidden;

            #robert{
              background: url(../img/Robert-circle.png) no-repeat center;
              background-size: cover;
            }
            #jesse {
              background: url(../img/Jesse-circle.png) no-repeat center;
              background-size: cover;
            }
            #derrick {
              background: url(../img/Derrick-circle.png) no-repeat center;
              background-size: cover;
            }

            #travis {
              background: url(../img/Travis-circle.png) no-repeat center;
              background-size: cover;
            }
            #danielle {
              background: url(../img/danielle-circle.png) no-repeat center;
              background-size: cover;
            }

            .bot {
              position: absolute;
              max-width: 100%;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-size: cover;
            }

            

            .overlay {
              font-family: -apple-system,
              BlinkMacSystemFont,
              'Segoe UI',
              Roboto,
              Oxygen,
              Ubuntu,
              Cantarell,
              'Open Sans',
              'Helvetica Neue',
              sans-serif;
              font-size: 3rem;
              p, .fa{
                text-decoration: none;
                display: none;
                text-align: center;
                margin-top: 0;
                margin: 0 auto; 
                z-index: 100;
                color: #fff;
            }
          }


            /// overlay hover
            .overlay:hover {
              background-color: rgba(83, 195, 197, 0.75);
              animation: BUTTON-ANIMATION 4s ease-in;
              p {
                display: block;
                animation: NAME-ANIMATION 1s ease-in;
                margin-top: 35%;
              }
              .fa {
                display: block;
              }
            }

            .fa {
              font-size: 2.5rem;
              max-width: 25%;
              transition: all 1s ease-in;
              padding-top: 1rem; 
              &:hover {
                color: #f49293;
                transform: scale(1.5) rotateY(180deg);
                           

              }
            }

        }
      } //image-container  
      }//row
    }//profiles


      //bottom image
      .bottom-image {
        width: 100%;
        position: absolute;
        z-index: -1;
      }


      // contact section
      .contact {
        background: rgb(83, 195, 197);
        margin-top: 35vw;
        width: 100%;
        h1{
          font-weight: bold;
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          padding: 1rem;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 2rem;
          margin-bottom: 1rem;
          @media @mobile {
            font-size: 1.5rem;
          }
        }
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 75%;
          margin: 0 auto;
          ::placeholder {
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: .25em;
          }
          .fieldset{
            width: 100%;
            display: flex;
            justify-content: space-between;
            input{
              width: calc(50% - 1.666rem);
              background: rgba(83, 195, 197, 0.75);
              border: 1.5px solid #fff;
              line-height: 1.5rem;
              padding: .5rem;
              border-radius: 4px;
              @media @mobile {
                padding: .333rem;
                line-height: 1rem;
                border: 1px solid #fff; 
              }
            }
          }
          textarea{
            border-radius: 4px;
            width: calc(100% - 1.125rem);
            background: rgba(83, 195, 197, 0.75);
            color: #fff;
            line-height: 1.5rem;
            border: 1.5px solid #fff;
            margin-top: 1rem;
            height: 40vh;
            padding: .5rem;
            @media @mobile {
              height: 30vh;
              padding: .333rem;
              line-height: 1rem;
              border: 1px solid #fff;
            }
          }
          button{
            margin-top: 1rem;
            width: 47%;
            background: rgba(83, 195, 197, 0.65);
            color: #fff;
            line-height: 1.5rem;
            border: 1.5px solid #fff;
            border-radius: 4px;
            padding: .5rem;
            font-family: Arial,
            Helvetica,
            sans-serif;
            letter-spacing: .25em;
            transition: all .35s ease-in-out;
            @media @mobile {
              padding: .333rem;
              line-height: 1rem;
              border: 1px solid #fff;
            }
            &:hover{
              background: #fff;
              color: rgb(60, 150, 151);
            }
          }
          
        }
      }