.footer {
    position: absolute;
    margin-top: 28vw;
    width: 100%;
    
    @media @tablet {
        margin-top: 26vw;
    }

    @media @mobile {
        margin-top: 24vw;
        background-color: #53C3C5;
    }

    .social-icons {
        font-size: 5rem;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 35px;

        @media @tablet {
            font-size: 4rem;
            padding-bottom: 3px;
        }

        @media @mobile {
            font-size: 2.3rem;
            padding-bottom: 3px;
        }

        a {
            text-align: center;
            cursor: help;
        }
        
        .twitter{
            color: white;
        }

        .facebook {
            color: white;
        }

        .github {
            color: white;
        }
        
    }

    .copywrite {
        font-size: 3rem;
        text-align: center;
        line-height: 5rem;

        @media @tablet {
            font-size: 2.5rem;
            line-height: 4rem;
        }

        @media @mobile {
            font-size: 1.4rem;
            line-height: 2.3rem;
        }

        p {
            color: white;
        }

        a {
            color: #262D35;
            text-decoration: none;
        }
    }
}